body {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  margin: 0;
  background-color: #eef2f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login-container, #viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  text-align: center;
}

input, button {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin: 5px 0;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  input, button {
    width: 80%;
  }
}







